#navBar{
    background-color: #353535;
    color: whitesmoke;
    margin-bottom: 2px;
    border-radius: 0px;
}

#jumboTron{
    background-color: #353535;
    color: whitesmoke;
}

#indexHeader {
    padding-left: 20px;
}

#paceTable tr:nth-child(odd){
    background-color: #353535;
    color: whitesmoke;
}

#paceTable tr:nth-child(even){
    background-color: #f9f9f9;
    color: #353535;
}