#indexBody{
    font-family: monospace;
}

#navBar{
    background-color: #2d2d2d;
    color: whitesmoke;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0 3px 6px 1px #ccc;
}

#jumboTron{
    background-color: #353535;
    color: whitesmoke;
    box-shadow: 0 3px 6px 1px #ccc;
}

#indexHeader {
    padding-left: 20px;
}


th {
    font-size: 30px;
    text-align: center;
}

td {
    font-size: 26px;
    LINE-HEIGHT:50px
}

#paceTable{
    text-align: center;
    box-shadow: 0 3px 6px 1px #ccc;
    border-radius: 15px;
}

#paceTable tr:nth-child(odd){
    background-color: #353535;
    color: whitesmoke;
}

#paceTable tr:nth-child(even){
    background-color: #f9f9f9;
    color: #353535;
    /* */
}

.tableRow{
    padding: 20px;
}